/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,500&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /* Text */
  --pale-violet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --desaturated-violet: hsl(271, 15%, 43%);
  --grayish-blue: hsl(206, 6%, 79%);
  --very-dark: hsl(271, 36%, 24%);
  --dark-grayish: hsl(270, 7%, 64%);
  --text-color: #000;

  /* gradient */
  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);

  /* background */
  --white: hsl(0, 0%, 100%);
  --light-grayish: hsl(270, 20%, 96%);
  --sub-btn-back: hsl(271, 36%, 24%);
  --radio-btn-outline: hsl(289, 100%, 72%);

  /*========== Font and typography ==========*/
  --body-font: "Rubik", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  position: relative;
  background-color: var(--white);
  color: var(--text-color);
  transition: 0.4s;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

body::before {
  position: absolute;
  content: "";
  top: 0%;
  left: 0%;
  width: 350px;
  height: 550px;
  background-color: black;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.gradient {
  background: rgb(136, 56, 255);
  background: linear-gradient(
    167deg,
    rgba(136, 56, 255, 1) 0%,
    rgba(59, 0, 66, 1) 99%
  );
}
